@import url("https://fonts.googleapis.com/css?family=Inconsolata|Merriweather");
body {
  font-family: "Inconsolata", monospace;
}

button {
  background-color: #242B57;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 0.2em;
}

.App {
  /* this is making logo to stay in the middle */
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* NAV BAR */

.nav-bar {
  background: #242B57;
  display: block;
}

.nav-bar #logo-picture {
  /* margin-left: 5%; */
  /* margin-right: auto; */
  width: 10em;
  /* height: 50%; */
  /* z-index: 100; */
}

.nav-bar .logo-picture {
  // this is not working. Dont know why
  left: 2em;
}

.nav-bar li {
  display: inline-block;
}

.UploadButton {
  margin: 50px;
}

.PhotoViewer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}

.PhotoViewer img {
  width: 50em;
}

.highlight {
  position: relative;
  width: 16em;
  height: 16em;
  background-size: cover;
  background-position: center;
  display: inline-flex;
  padding: 0px 0px 0px 0px;
}

.highlight:hover {
  cursor: pointer;
}

.highlight_overlay {
  /* background: rgba(229, 182, 177, 0.9); */
  height: 100%;
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* transition: 1s; */
  -webkit-transition: 1s;
  opacity: 0;
  transform transition: all 0.3s ease-in-out;
}

.highlight_overlay:hover {
  display: grid;
  opacity: 0.9;
  transform: translateY(0%);
}

.highlight_textbox {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: grid;
}

.highlight_title {
  font-size: 1.2em;
}

.highlight_description {
  font-size: 1.1em;
}

.highlight_button {
  font-size: 0.8em;
  font: "Inconsolata";
  /* background-color: rgba(36, 43, 87, 0); */
  font-weight: bold;
  position: absolute;
  width: 4em;
  height: 4em;
  text-align: center;
  border-radius: 50%;
  z-index: 0;
  padding: 0px 0px 0px 0px;
}

.highlight_button:active {
  box-shadow: 1px 3px #666;
  transform: translateY(2px);
}

.right {
  right: 0.8em;
}

.bottom {
  bottom: 0px;
}

.left {
  left: 10px;
}

.PhotoVewerTextbox {
  padding: 0.5em;
  font-size: 1.2em;
}

.logo-picture {
  margin-left: 45%;
  margin-right: auto;
  width: 160px;
  height: 50%;
  z-index: 100;
}

.GoogleMapContainer {
  max-height : 75vh;
  margin: auto;
  height: 25em;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.padding50 {
  padding: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
