.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.UploadButton {
  margin: 50px;
}

.PhotoViewer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.PhotoViewer div {
  color: white;
  /* background-color: #999999; */
}

.highlight {
  position: relative;
  width: 20em;
  height: 20em;
  background-size: cover;
  background-position: center;
  display: inline-flex;
  padding: 0px 0px 0px 0px;

}

.highlight:hover {
  cursor: pointer;
}

.highlight_overlay {
/* background: rgba(229, 182, 177, 0.9); */
height: 100%;
width: 100%;
grid-column: 1 / -1;
grid-row: 1 / -1;
position: relative;
display: grid;
justify-content: center;
align-items: center;
position: absolute;
/* transition: 1s; */
-webkit-transition: 1s;
opacity: 0;
transform
transition: all 0.3s ease-in-out;
}

.highlight_overlay:hover {
  display: grid;
  opacity: 0.9;
  transform: translateY(0%);

}

.highlight_title {
  font-size: 1.2em;
}

.highlight_description {
  font-size: 1.1em;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
